@charset "UTF-8";
.container {
    background-color: #00A59F;
	
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 10%;
}
.row {
	width: 100%;
	background-image: image ("C:\Users\usuario\Pictures\chat - Copia/semtxt.jpg");
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}





.noDisplay {
	display: none;
}






.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}



#menu {

}

/* Banner Style */

.banner .caption {
    background-color: rgba(250,250,250,0.9);
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    max-width: 750px;
    font-size: 15px;
    line-height: 14px;
}

.banner .caption p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}
